nav 
    a href="/characters" characters

h1 Inloggad som #{result["username"]}
form action="/logout" method="POST"
    input type="submit" value="Logga ut"
    


/ Hur ändrar man på sidan utseende om man är inlogggad
/ Flytta register/login till layout
/ Ska inte kunna komma åt profil om man inte är inloggad och lägg till logout på profile