/ Skapa ny karaktär (kanske inte behöver, bara en edit site)
h1 create a new character
/ post med storabokstäver???
/ Ska kunna ändra på alla aspekter av en karaktär redan från new. (Behövs edit då???)

/ namn
form action="/characters/new" method="POST" 
    input type="text" name="char_name" placeholder="Name"
    input type="submit" value="create character"

/ Stats:

/ Beskrivning: